# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environments
venv/
.venv/
env/

# PyCharm
.idea/

# VS Code
.vscode/

# Jupyter
.ipynb_checkpoints/

# Environment Variables
.env

# macOS
.DS_Store

# Windows
Thumbs.db

# Databricks
.databricks/

# Power BI temporary files
*.tmp